
/* common */
.bg_tiffany{
    background-color: rgb(26, 188, 156);
}

.bg_darkgrey{
    background-color: rgb(44, 62, 80);
}

.text_darkgrey{
    color: rgb(44, 62, 80);

img {
    max-width: 100%;
}

    /* common icon */

}

.star-icon{
    display: inline-block;
    font-size: 50px;
}

.line{
    position: relative;
    left: 34px;    
}

.line_2{
    position: relative;
    left: 17px;    
}

.line_5{
    position: relative;
    right: 17px;    
}

.line_6{
    position: relative;
    right: 34px;    
}
/* /icon */



/* hero */

.section_hero{
    text-align: center;
}

.ms_title{
    font-size: 3rem;
}

.ms_text-hero{
    font-size: 1.4rem;
    padding: 0;
}

.hero-img img{
    max-width: 461px;
}
/* section portfolio */
.ms_portfolio{
    padding: 0;
}


.section_portfolio h2{
    font-size: 2rem;
    font-weight: 700;
}

/* debug */
.nav_col{
    background-color: azure;
}


@media screen and(min-width: 768px){
    .ms_portfolio{
        width: 80%;
    }

}


@media screen and (min-width: 992px) {
    .ms_header{
    width: 80%;
    }

    .ms_portfolio{
        width: 80%;
    }


}
